.friend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .friend .friend__avatar {
    width: 50px;
    border-radius: 5%;
  }
  
  .friend__avatar.g-avatar {
    width: 70px;
  }
  
  .friend__avatar.m-avatar {
    width: 60px;
  }
  
  .friend .friend__column {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .friend .friend__avatar {
    margin-right: 15px;
  }
  
  .friend__content .friend__name {
    display: block;
    font-size: 20px;
    font-weight: bolder;
  }
  
  .friend__content .friend__status,
  .friend__content .friend__bottom-text {
    opacity: 0.6;
  }
  
  .friend__content .friend__bottom-text {
    font-size: 14px;
  }
  
  .friend__content .friend__status {
    font-size: 12px;
  }
  
  .friend .chat__timestamp {
    font-size: 12px;
    opacity: 0.6;
  }

  .friend__column .chat__timestamp {
    font-size: 15px;
    opacity: 0.6;
    margin-bottom: 100px;
  }  

  .chat {
    margin-bottom: 25px;
    padding-top: 20px;
    border-top: 1px solid #d7d7d7;
  }

  .chat-screen {
    display: flex;
    flex-direction: column;
  }

  .chat-screen .ntime {
    opacity: 0.6;
  }
  